# Port number
PORT=3000

# URL of the Mongo DB
MONGODB_URL=mongodb+srv://<user>:<password>@ldep.gjer69d.mongodb.net/?retryWrites=true&w=majority

# JWT
# JWT secret key
JWT_SECRET=thisisasamplesecret
# Number of minutes after which an access token expires
JWT_ACCESS_EXPIRATION_MINUTES=10080
# Number of days after which a refresh token expires
JWT_REFRESH_EXPIRATION_DAYS=10080